.btn {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: solid 1px;
    width: fit-content;
    padding: 12px;
}

.bnt-push {
    width: 200px;
}

button {
    width: 150px;
}

.display {
    text-align: center;
}

.square {
    width: 100px;
    height: 100px;
    border: solid 1px;
}

.disappears {
    display: flex;
    flex-direction: column;
}
