body {
    background-color: #c1d3e0;
}

.post__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    padding-top: 1rem;
}

.post--img {
    width: 200px;
    border-radius: 23px;
    border: solid 1px transparent;
    /* box-sizing: border-box; */
}

.post--input {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 50px;
    margin-inline: auto;
    margin-top: 3rem;
}

.post--btn {
    border-radius: 7px;
    cursor: pointer;
}

.post--btn:hover {
    padding-right: 17px;
    letter-spacing: 5px;
    transition: all 0.5s ease;
}

.post--img:hover {
    border: solid 1px black;
}

.post_btn--push {
    border-radius: 6px;
    cursor: pointer;
}
